
* {
   padding: 0;
   margin: 0;
   font-family: sans-serif;
}

a {
    text-decoration: none;
    color:#fff;
}

li {
    list-style-type: none;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

header {
    background-image:url('../img/header-bg.png');
    min-height: 400px;
}

.header_contacts {
    color:#fff;
    border-bottom:10px solid rgba(147,160,176,0.8);
    padding: 20px 0;
}

.logo {
    cursor: pointer;
    margin: 0 5px;
}

.header_company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_info {
    text-align: center;
}

.header_companyName {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
}

.header_services, .header_location {
    font-size: 12px;
}

.header_services {
    background-color: #1151a9;
    padding: 3px 0;
    cursor:pointer;
}

.header_services span {
    border-right: 1px solid #fff;
    padding-right: 4px;
}

.header_connection {
    text-align: center;
}

.header_connection div {
    display: inline;
    margin:0 5px;;
}

.verticalMiddle {
    vertical-align: middle;
    margin: 0 5px 4px 0;
}

.header_btn {
    width: 150px;
    margin-right: 7px;
    padding: 15px 0;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.orangeBtn {
    background:#ff9000;   
    background-image: linear-gradient(90deg, rgba(226,128,0,.5) 50%, transparent 0), 
                    linear-gradient(rgba(226,128,0,.5) 50%, transparent 0);
    background-size: 3px 3px; 
    border-bottom:1px solid #fbaf4d;
    box-shadow: 0px 6px #ef8905;
}

.blueBtn {
    background:#0c57bf;
    background-image: linear-gradient(90deg, rgba(6,65,144,.5) 50%, transparent 0), 
                      linear-gradient(rgba(6,65,144,.5) 50%, transparent 0);
    background-size: 3px 3px; 
    border-bottom:1px solid #05739b;
    box-shadow: 0px 6px #043881;
}
.orangeBtn:hover {
    background-color: #ffb658;
}

.orangeBtn:active{
    background-color: #ff5b00;
}

.blueBtn:hover {
    background-color: #1a6fe6;
}

.blueBtn:active {
    background-color: blue;
}

nav {
    border-bottom: 2px solid #a9b7cc;
    padding: 20px 0;
}

.header_item {
    display: inline;
    font-weight: bold;
    padding: 15px 0;
}

.header_item + .header_item:before{
    content:"|";
    color:#98a6b9;
    margin-right: 10px;
    margin-left: 10px;
}

.header_item a:hover {
    color:#f88c00;
    border-bottom: 4px solid #fe8f00;
    padding-bottom: 17px;
}

.header_title {
    width: 70%;
    text-align: center;
    margin: 0 auto 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 1px dashed #ff9000;
    border-bottom: 1px dashed #ff9000;
    margin-top: 70px;
    padding: 30px 0;
    position: relative;
}

.cornersHor {
    position: absolute; 
    width: 25px;
    height: 4px;
    background-color: #fff;
}

.cornersVer {
    position: absolute; 
    width: 4px;
    height: 25px;
    background-color: #fff;
}

.topLeftHor, .topLeftVer  {
    top:-3px;
    left: 0;
}

.topRightHor, .topRightVer {
    top:-3px;
    right: 0;
}

.bottomRightHor, .bottomRightVer  {
    bottom: -3px;
    right: 0;
}

.bottomLeftHor, .bottomLeftVer {
    bottom: -3px;
    left: 0;
}

.header_title p {
    font-size: 24px;
    color:#fff;
}

.header_title span {
    font-weight: bold;
}

h1 {
    color:#ff9000;
    font-size: 45px;
}

hr {
    width: 770px;
    margin:15px 0;
}

.advantages {
    display: flex;
    justify-content: center;
}

.advantage {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: rgba(5,57,129,0.8);
    margin: 10px 10px -40px 10px;
    border-radius: 17px;
    width: 25%;
    padding: 15px;
}

.advantages span {
    color:#fff;
}

.advantage_img {
    display: flex;
    align-items: center;
    height:36px;
    padding: 18px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 999;
    box-shadow: 10px 5px 28px -5px rgba(0,0,0,0.75);
}

.blueCircle {
    position: relative;
    background-color: #0e6aca;
    border-radius: 50%;
    margin-right: 15px;
    padding: 10px;
}

.blueCircle:before {
    content: ''; 
    position: absolute;
    left: 38px; 
    bottom: -23px;
    border: 10px solid transparent;
    border-top: 15px solid #0e6aca;
}

.form {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border:1px solid #000;
    position: fixed;
    top:106px;
    right: 260px;
}

.displayNone {
    display: none;
}

